.welcome {
    font-family: Arial;
    color: green;
}

.xo-button {
    font-family: "Courier New";
}

.center-section {
    position: absolute;
    width:  450px;
    height: 650px;
    left: 50%;
    top: 50%;
    margin-left: -225px;
    margin-top: -325px;
    //background-color: green;
}

.board {
    width: 450px;
    height: 450px;
    //background-color: aqua;
}

.x-score {
    float: left;
    width: 225px;
    height: 100px;
    //background-color: red;
    color: white;
}

.o-score {
    float: left;
    width: 225;
    height: 100px;
    //background-color: blue;
    color: white;
}

.messages {
    width: 450px;
    height: 100px;
    //background-color: pink;
    color: white;
}


.cell {
    width: 150px;
    height: 150px;
    //background-color: pink;
    float: left;
    cursor: pointer;
}

.border00 {
    box-shadow:
        inset -5px -5px 0px 0px #fff;
}

.border01 {
    box-shadow:
        inset 5px 0px 0px 0px #fff,
        inset -5px -5px 0px 0px #fff;
}

.border02 {
    box-shadow:
        inset 5px 0px 0px 0px #fff,
        inset 0px -5px 0px 0px #fff;
}

.border10 {
    box-shadow:
        inset 0px 5px 0px 0px #fff,
        inset -5px -5px 0px 0px #fff;
}

.border11 {
    box-shadow:
            inset 5px 5px 0px 0px #fff,
            inset -5px -5px 0px 0px #fff;
}

.border12 {
    box-shadow:
            inset 5px 5px 0px 0px #fff,
            inset 0px -5px 0px 0px #fff;
}

.border20 {
    box-shadow:
            inset 0px 5px 0px 0px #fff,
            inset -5px 0px 0px 0px #fff;
}

.border21 {
    box-shadow:
            inset 5px 5px 0px 0px #fff,
            inset -5px 0px 0px 0px #fff;
}

.border22 {
    box-shadow:
            inset 5px 5px 0px 0px #fff,
            inset 0px 0px 0px 0px #fff;
}

.o {

}

.body {
    display: block;
    margin: 8px;
    background: black;
}
